* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-size: 62.5%;
    --bg-color: #121214;
    --bg-buttons-color: rgba(66, 211, 255, 0.13);

    --text-color: white;
}

.hide {
    display: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

    font-size: 1.6rem;

    display: grid;
    min-height: 100vh;


}

main {
    justify-self: center;
    align-self: flex-end;
}

.timer {
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    line-height: 10.3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: flex;

    margin-bottom: 1.6rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-buttons-color);
    border-radius: 9999px;

    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vh, )10.8rem;
    padding: 2.2rem 4rem;
    gap: 4rem;
}

button {
    background: transparent;
    border: none;

    cursor: pointer;
}

button img {
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

footer {
    justify-self: end;
    align-self: flex-end;

    padding: 0 4rem 3.2rem 0;
}

